<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Last Week Leaderboard of a Country (Top 200)</title>
</head>
<body>
  <h1>Last Week Leaderboard of a Country (Top 200)</h1>
  <table border="1">
    <thead>
      <tr>
        <!-- <th>UID</th> -->
        <th>S.No</th>
        <th>Name</th>
        <th>Score</th>
        <th>Country</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <!-- <td><%= users[i].UID %></td> -->
          <td><%= i+1 %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].score %></td>
          <td><%= users[i].country %></td>
          <td><%= users[i].timestamp %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>
